body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
  background: #f1f3f6;
}

/* HEADER */
header {
  background: #1f2937;
  color: white;
  padding: 18px;
  text-align: center;
}

/* INPUT */
.top-area {
  background: white;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.top-area input {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* CATEGORIAS */
#categorias {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 8px;
  background: #fff;
}

.cat-btn {
  padding: 8px 14px;
  border-radius: 20px;
  background: #e5e7eb;
  cursor: pointer;
}

.cat-btn.active {
  background: #2563eb;
  color: white;
}

/* LAYOUT */
.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* PRODUTOS */
#produtos {
  padding: 10px;
}

.card {
  background: white;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.preco {
  font-weight: bold;
  color: #16a34a;
}

/* CONTROLE */
.controle {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* CARRINHO */
.carrinho-area {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: white;
  transition: 0.3s;
  padding: 10px;
  border-top: 2px solid #ddd;
}

.carrinho-area.open {
  bottom: 0;
}

.item-carrinho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-remover {
  background: red;
  color: white;
  border: none;
  margin-top: 5px;
}

/* BOTÃO MOBILE */
#abrir-carrinho {
  position: fixed;
  bottom: 70px;
  right: 10px;
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50px;
}

/* DESKTOP */
@media (min-width: 900px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }

  .carrinho-area {
    position: sticky;
    bottom: auto;
  }

  #abrir-carrinho {
    display: none;
  }
}

/* BARRA */
#bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}