body {
  margin: 0;
  font-family: 'Segoe UI', Arial;
  background: #f4f6f8;
  color: #2c2c2c;
}

/* HEADER */
header {
  background: linear-gradient(135deg, #2f5d62, #5e8b7e);
  color: white;
  padding: 20px;
  text-align: center;
}

header h2 {
  margin: 0;
}

header p {
  margin: 5px 0 0;
  font-size: 14px;
}

/* INPUTS */
.top-area {
  padding: 12px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.top-area input {
  width: 100%;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* CATEGORIAS */
#categorias {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  gap: 8px;
  background: #fff;
}

.cat-btn {
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  background: #eee;
  font-size: 13px;
}

.cat-btn.active {
  background: #2f5d62;
  color: white;
}

/* PRODUTOS */
#produtos {
  padding: 12px;
  margin-bottom: 110px;
}

.card {
  background: white;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 14px;
  border: 1px solid #eee;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.01);
}

.card h3 {
  margin: 0;
  font-size: 15px;
}

.preco {
  font-size: 14px;
  color: #666;
}

/* CONTROLE */
.controle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.input-qtd {
  width: 70px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.controle button {
  width: 34px;
  height: 34px;
  background: #2f5d62;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}

/* CARRINHO */
#carrinho-box {
  background: white;
  margin: 12px;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #eee;
}

.item-carrinho {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}

/* BARRA */
#bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
}

#bottom-bar button {
  background: #2f5d62;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: bold;
}